body {
    position: relative;
    margin: 0;
    background-color: rgb(131, 219, 105);
    height: calc(100% - 10px);
    overflow: hidden;
}

.menu-item {
    background-color: #EEE;
    display: inline-block;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #888;
    z-index: 10;
    position: fixed;
}
.menu-item:hover {
    background-color: #CCC;
    cursor: pointer;
}
.how-to-play {
    position: fixed;
    z-index: 10;
}

.road {
    position: fixed;
    top: -135px;
    left: 500px;
}
.road img {
    width: 250px;
}
.tree {
    background-image: url('assets/images/tree.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.tree-left {
    left: 360px;
}
.tree-right {
    left: 680px;
}


.car {
    width: 50px;
    height: 50px;
    position: absolute;
}
.my-car {
    top: 400px;
    left: 555px;
    width:34px;
    height: 75px;
    background-image: url('assets/images/my-car.png');
    transition: all .3s ease-in-out;

}
@keyframes steerRight {
    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }
}@keyframes steerLeft {
    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-30deg);
    }
}
.opposite-car {
    width:38px;
    height: 75px;
    background-image: url('assets/images/opposite-car.png');
    transform: rotate(180deg);
}
.car-left {
    left: 555px;
}
.my-car-left {
    animation: steerLeft .3s ease-in-out 1;
}
.car-right {
    left: 665px;
}
.my-car-right {
    animation: steerRight .3s ease-in-out 1;
}

.btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 400px;
    right: 150px;
    text-align: center;
    color: #444;
}

.result {
    width: 200px;
    height: 100px;
    background-color: rgb(226, 0, 45);
    box-shadow: 0 0 10px 5px rgba(165, 0, 0, 0.479);
    color: #ffc;
    padding-top: 25px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Tahoma, Verdana, sans-serif;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 44%;
    left: 44%;
    z-index: 2;
}

.transparent {
    opacity: 0.3;
}

.summary-during-game {
    width: 200px;
    height: 315px;
    background-color: #55D;
    color: #ffc;
    text-align: center;
    font-size: 25px;
    font-family: Tahoma, Verdana, sans-serif;
    padding-top: 50px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 140, 255, 0.472);
    z-index: 2;
}
.summary-during-game div {
    display: inline-block;
    padding: 10px 20px;
    margin: 7px;
    border: solid 3px #dd9;
    border-radius: 7px;
}

.retry {
    width: 120px;
    height: 70px;
    background: rgb(6, 167, 6);
    color: #ffc;
    font-size: 30px;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 0 5px 3px rgba(5, 209, 22, 0.486);
    position: absolute;
    top: 75%;
    left: 47%;
    z-index: 2;
}
.retry:hover {
    box-shadow: 0 0 12px 7px rgba(5, 209, 22, 0.486);
    cursor: pointer;
}