body {
    position: relative;
    margin: 0;
    background-color: #AAA;
}

.car {
    width: 50px;
    height: 50px;
    position: absolute;
}
.my-car {
    top: 400px;
    left: 600px;
    width:34px;
    height: 75px;
    background-image: url('assets/images/my-car.png');
}
.opposite-car {
    width:38px;
    height: 75px;
    background-image: url('assets/images/opposite-car.png');
    transform: rotate(180deg);
}
.car-left {
    left: 600px;
}
.car-right {
    left: 750px;
}

.middle-line {
    background-color: #000;
    width: 1px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 700px;
}

.btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 400px;
    right: 300px;
    text-align: center;
    color: #444;
}

.result {
    width: 200px;
    height: 100px;
    background-color: rgb(226, 0, 45);
    box-shadow: 0 0 10px 5px rgba(165, 0, 0, 0.479);
    color: #ffc;
    padding-top: 25px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Tahoma, Verdana, sans-serif;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 44%;
    left: 44%;
}

.transparent {
    opacity: 0.3;
}

.summary-during-game {
    width: 200px;
    height: 315px;
    background-color: #55D;
    color: #ffc;
    text-align: center;
    font-size: 25px;
    font-family: Tahoma, Verdana, sans-serif;
    padding-top: 50px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 140, 255, 0.472);
}
.summary-during-game div {
    display: inline-block;
    padding: 10px 20px;
    margin: 7px;
    border: solid 3px #dd9;
    border-radius: 7px;
}

.retry {
    width: 120px;
    height: 70px;
    background: rgb(6, 167, 6);
    color: #ffc;
    font-size: 30px;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 0 5px 3px rgba(5, 209, 22, 0.486);
    position: absolute;
    top: 75%;
    left: 47%;
    z-index: 1;
}
.retry:hover {
    box-shadow: 0 0 12px 7px rgba(5, 209, 22, 0.486);
    cursor: pointer;
}